version: 2.1
orbs:
  # https://github.com/cypress-io/circleci-orb
  cypress: cypress-io/cypress@3.1.4
workflows:
  build:
    jobs:
      # see examples in https://github.com/cypress-io/circleci-orb#contents
      - cypress/run:
          name: Cypress E2E Tests
          start: npm start
          config-file: cypress.ci-config.js
          # store videos and any screenshots after tests
          store_artifacts: true
          # there are no jobs following this one,
          # so no need to store the workspace
          no-workspace: true
