version: 2.1
orbs:
  # https://github.com/cypress-io/circleci-orb
  cypress: cypress-io/cypress@3.4.3
workflows:
  build:
    jobs:
      # see examples in https://github.com/cypress-io/circleci-orb#contents
      - cypress/run:
          name: Cypress E2E Tests
          start-command: 'npm start'
          cypress-command: 'npx cypress run --config-file cypress.ci-config.js'
